h6{
    font-size: 18px !important;
    font-weight: lighter !important;
}

button{
    position:absolute;
}
#mainWrapper{
   margin-top:12%;
   width:50%;
}

#buttonAlign{
    margin-top:50px;
    text-align:center;
}
a{
    display:inline-block;
    padding-right:5px;
}

.fbLink{
    color:#3B5998;
}
